a.nav-link.active {
    background: #1840d3;
    color: white !important;
}

a.nav-link.active i {
    color: white;
}
a.nav-link.active:hover,a.nav-link:hover{
    background-color: rgb(21, 255, 0) !important;
    color: white !important;
}