table{
    width: 100% !important;
}
tr th,td{
    text-align: center;
}
.gradientBtn {
    background: linear-gradient(90deg, #7a12c0 0%, #ee35ab 35%, #ffb650 100%);
    color: white;
    font-weight: bold;
    transition:all ease 0.6s;
}
.gradientBtn:hover{
    background: linear-gradient(90deg, #ffb650 0%, #ee35ab 35%, #7a12c0 100%);
    transition:all ease 0.6s;

}
img.customerimg,img.customerimgs{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
li.nav-item.parent a[data-bs-toggle="collapse"] {
    background: #3d00ba !important;
    color: white;
}
li.nav-item.parent a[data-bs-toggle="collapse"] i{
    color: white;
}
a.nav-link.active {
    background: #1840d3;
    color: white !important;
}

a.nav-link.active i {
    color: white;
}
a.nav-link.active:hover,a.nav-link:hover{
    background-color: rgb(21, 255, 0) !important;
    color: white !important;
}
label{
	font-weight: bolder;
}
 img.tdUsersImg{
    width: 50px;
    border-radius: 100%;
}

p.active,p.paid {
    background: green;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
}
p.deactive,p.unpaid {
    background: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
}
span.errors{
    color: red;
}